@import url('https://fonts.googleapis.com/css?family=Roboto:light,thin,regular,bold&display=swap');

body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    width: 100%;
}

body:nth-child(2) {
    margin-top: 80px;
}

.green-background {
    background-color: #1FA463;
}

.red-background {
    background-color: #DD483B;
}

.black {
    color: black;
}

.no-text-decoration {
    text-decoration: none;
}

.no-ul-decoration {
    padding: 0;
    list-style-type: none;
}

.grey {
    color: #F1F3F4;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.row.v-center, .column.v-center {
    align-items: center;
}

.row.h-center, .column.h-center {
    align-self: center;
}

.flexible-1 {
    flex: 1;
}

 .top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 72px;
    background: #1FA463 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    width: 100%;
}
