@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body:nth-child(2) {
    margin-top: 80px;
}

.green {
    background-color: #1FA463;
}

.black {
    color: black;
}

.no-text-decoration {
    text-decoration: none;
}

.no-ul-decoration {
    padding: 0;
    list-style-type: none;
}

.grey {
    color: #F1F3F4;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row.v-center, .column.v-center {
    align-items: center;
}

.row.h-center, .column.h-center {
    align-self: center;
}
