body {
    min-width: 740px;
}

.state-container-mobile {
    display: none;
}

.center-top-bar-content {
    width: 90%;
    max-width: 1100px;
    min-width: 400px;
    margin: auto;
}

.pharmacy-name {
    font-size: 36px;
}

.state-container-desktop {
    background-color: #F1F3F4;
}

.content {
    width: 88%;
    max-width: 1000px;
    min-width: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: 3% 46.5% auto 20px auto 46.5% 3%;
    grid-template-rows: 115px 500px 20px auto 20px auto;
}

.informations-content {
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
    padding-bottom: 24px;
}

.state-container-desktop {
    border-radius: 29px;
}

#map {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
}

.section-title {
    font-size: 36px;
}

.icon-list-item {
    font-size: 18px;
}

.list-item-text {
    font-size: 18px;
}

.contact-us {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: start;
}

.practical-informations {
    grid-column-start: -1;
    grid-column-end: -3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.santetis-copryright-container {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: 6;
    grid-row-end: 6;
}