.center-top-bar-content {
    padding-left: 10px;
}

.state-container {
    display:none;
}

.content {
    display: grid;
    grid-template-columns: 3% auto auto 3%;
    grid-template-rows: 115px 500px 20px auto 20px auto 20px auto;
}

.informations-content {
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
    padding-bottom: 24px;
}

#map {
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.contact-us {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: start;
}

.practical-informations {
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: 6;
    grid-row-end: 7;
}

.santetis-copryright-container {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: 8;
    grid-row-end: 8;
}
