#map {
    border: 1px solid #00000061;
    border-radius: 9px;
}

section {
    flex: 1 1;
    border: 1px solid #00000061;
    border-radius: 9px;
    padding: 24px;
}

section:nth-child(1) {
    margin-right: 24px;
}

.section-title {
    font-weight: lighter;
}

.icon-list-item {
    color: #0000008A;
    padding-right: 20px;
}

.padding-ul-items:not(:first-child) {
    padding-top: 9px;
}

.list-item-text {
    font-weight: lighter;
    color: #0000008A;
}

.anchor-list-item-text:hover {
    text-decoration: underline;
}

.state-container-mobile, .state-container-desktop {
    padding: 11px;
}

.pharmacy-state {
    width: 21px;
    height: 21px;
    border-radius: 50%;
}

.state-text {
    padding: 0 11px;
    color: rgb(112, 112, 113);
}

.no-ul-margin-bottom {
    margin-bottom: 0;
}

.page-title-icon-size {
    font-size: 36px;
    padding-right: 20px;
}

.page-title-style {
    font-weight: lighter;
    font-size: 36px;
}

.horaires-icon-size {
    color: #F1F3F4;
}

.horaires-style {
    font-size: 18px;
    color: #F1F3F4;
    margin-left: 20px;
}
