 .top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 72px;
    background: #1FA463 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    width: 100%;
}

#map {
    border: 1px solid #00000061;
    border-radius: 9px;
    margin-bottom: 24px;
}

section {
    flex: 1 1;
    border: 1px solid #00000061;
    border-radius: 9px;
    padding: 24px;
}

section:nth-child(1) {
    margin-right: 24px;
}

.section-title {
    font-weight: 100;
    font-size: 36px;
}

.icon-list-item {
    font-size: 18px;
    color: #0000008A;
    padding-right: 20px;

}

.padding-ul-items:not(:first-child) {
    padding-top: 9px;
}

.list-item-text {
    font-weight: 100;
    font-size: 18px;
    color: #0000008A;
}

.anchor-list-item-text:hover {
    text-decoration: underline;
}

.state-container {
    background-color: #F1F3F4;
    padding: 11px;
    border-radius: 29px;
}

.pharmacy-state {
    width: 21px;
    height: 21px;
    border-radius: 50%;
}

.state-text {
    padding: 0 11px;
    color: rgb(112, 112, 113);
}

.no-ul-margin-bottom {
    margin-bottom: 0;
}

.informations-icon-size {
    font-size: 36px;
    padding-right: 20px;
}

.informations-style {
    font-weight: 100;
    font-size: 36px;
}