.center-top-bar-content {
    padding-left: 10px;
}

.state-container-desktop {
    display: none;
}

.pharmacy-name {
    font-size: 30px;
}

.content {
    display: grid;
    grid-template-columns: 3% 46.5% auto auto 46.5% 3%;
    grid-template-rows: 20px 42px 20px auto 20px auto 20px auto 20px auto;
}

.page-title-content {
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: end;
    justify-content: center;
    padding-bottom: 24px;
}

.page-title {
    margin: auto;
    width: min-content;
}

.mobile-state-container {
    border-radius: 29px;
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid #00000061;
    background-color: white;
}

.state-container-mobile {
    margin: auto;
    width: min-content;
    white-space: nowrap;
}

.schedule-content {
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: 6;
    grid-row-end: 7;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.duty-title {
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: 8;
    grid-row-end: 9;
    white-space: nowrap;
}

.duty-schedule-content {
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: 10;
    grid-row-end: 11;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    padding-bottom: 20px;
}


.day-name {
    font-size: 25px;
}

.day-timeslot {
    font-size: 15px;
}

@media (max-width: 340px) {
    .schedule-content {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .day-timeslot {
        font-size: 15px;
    }
}

