name: Deploy production api

on:
  push:
    paths:
      - api/**
      - .github/workflows/deploy_api_production.yaml
    branches:
      - production

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Docker login
        run: docker login rg.fr-par.scw.cloud/funcscwsantetisfmaxsfvo -u anyuser -p ${{secrets.SCALEWAY_TOKEN}}
      - name: Docker build
        run: docker build -f Dockerfile  -t productionapi:latest .
        working-directory: ./api
      - name: Docker tag
        run: docker tag productionapi:latest rg.fr-par.scw.cloud/funcscwsantetisfmaxsfvo/productionapi:latest
      - name: Docker push
        run: docker push rg.fr-par.scw.cloud/funcscwsantetisfmaxsfvo/productionapi:latest
      - name: Deploy container
        run: curl -X POST -H "X-Auth-Token:${{secrets.SCALEWAY_TOKEN}}" "https://api.scaleway.com/functions/v1alpha2/regions/fr-par/containers/2dffe44b-64fe-4428-af9e-dfef9f54612b/deploy" -d "{}"
