name: Deploy staging accounts service

on:
  push:
    paths:
      - services/accounts/**
      - .github/workflows/deploy_accounts_service_staging.yaml
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Docker login
        run: docker login rg.fr-par.scw.cloud/funcscwsantetisfmaxsfvo -u anyuser -p ${{secrets.SCALEWAY_TOKEN}}
      - name: Docker build
        run: docker build -f Dockerfile  -t stagingapi:latest .
        working-directory: ./services/accounts
      - name: Docker tag
        run: docker tag stagingapi:latest rg.fr-par.scw.cloud/funcscwsantetisfmaxsfvo/stagingapi:latest
      - name: Docker push
        run: docker push rg.fr-par.scw.cloud/funcscwsantetisfmaxsfvo/stagingapi:latest
      - name: Deploy container
        run: curl -X POST -H "X-Auth-Token:${{secrets.SCALEWAY_TOKEN}}" "https://api.scaleway.com/functions/v1alpha2/regions/fr-par/containers/92086ea9-d9a0-4003-9402-b20b52fe0acc/deploy" -d "{}"
